.shapes {
    color: teal;
    border: 2px solid rgb(199, 194, 194);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-gap: 1rem;
}

.shapes .box {
    background-color: purple;
    width: 200px;
    height: 200px;
}

.shapes .circle {
    background-color: rgb(13, 240, 32);
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.shapes button {
    background-color: rgb(252, 23, 23);
    border: none;
    color: white;
    height: 44px;
    width: 80px;
    outline: none;
    border-radius: 4px;
}